{% extends 'navbar.html' %}
<title>{% block title %} Hikayemiz {% endblock %}</title>


{% block mainpage %}

<div  class="container-fluid justify-content-center align-self-center text-center w-50 mb-5">
 <div class="border-top mt-5">
   <h1>Hikayemiz</h1>
 </div>
    <h3 class="mb-5 mt-5">YOLLARDA GEÇEN 10 YIL VE 60 ÜLKE SONRA</h3>
    <p>
      Mode On Coffee Co. 2 farklı tutkunun temelinde doğdu. Aslında her şey ortaokulda "Çok okuyan mı bilir yoksa çok gezen mi ?" münazarasında başladı. Görev, çok gezeni savunmaktı. Gezmek insana ne kazandır diye araştırırken farkında olmadan bilinç altında bir tutkunun tohumları filizleniyordu...
    </p>
    <p>
      Sonra o filizler büyüdü, kendimizi yollarda bulduk. Seyahat tutkusu hayatın her noktasındaki tercihleri etkiledi. İş, özel hayat, zevkler ve hobilere dair çoğu şey yollarda şekil aldı.
    </p>
    <p>
      Gençliğin erken dönemlerinden itibaren gelişen diğer tutku ise kahve oldu. Derken biz farkında olmadan seyahat ve kahve kontrolu tamamen ele aldı. Kendimizi bazen Amazonlar'da bazen Vietnam'ın yağmur ormanlarında, bazen de Etiyopya'nin tepelerinde bulduk. 5 farklı kıtadan binlerce insanla aynı dilde konuştuk anlaştık; kahve.
    </p>
    <p>
      Doğduğumuz topraklara, insanların kahve hakkındaki düşüncelerini değiştirme hedefiyle geri geldik. Bizler kahvenin havalı çocukları değiliz. Kahve konusunda teknik konular dahil, saatlerce derinlemesine sohbet de ederiz ama kahve hakkında bilgisi ne olursa olsun, ortalama her insanın iyi bir kahveyi hak ettiğini düşünüyoruz.
    </p>
    <p>
      Amacımız bu tadları sizlerle paylaşırken, iyi kahveyi her zaman erişilebilir, sürdürülebilir ve lezzetli kılmak.
    </p>

    <img class="mt-5" src="https://www.w3schools.com/bootstrap/paris.jpg">
    
</div>










{% endblock %}