{% extends 'navbar.html' %}
<title>{% block title %} Kahveler {% endblock %}</title>

{% block mainpage %}

<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Kahveler</strong></h4>

    <div class="row">
    {% for product in products %}
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src={{ product.product_image }}
              class="w-100" />
          </div>
          <div class="card-body">
            <a href="{% url 'detay' product.id %}" class="text-reset">
              <h5 class="card-title mb-3">{{product.product_name}}</h5>
            </a>
            <h6 class="mb-3">{{ product.product_price }}₺</h6>
              <a href="{% url 'cart_add' id=product.id %}">
               <button id="ekle" class="btn btn-outline-success">Sepete Ekle</button>
              </a>
          </div>
        </div>
      </div>
      {% endfor %}
        </div>

        </div>
</section>

    <script>
    var button = document.getElementById("al");
    button.addEventListener("click", function() {
        swal("Good job!", "You clicked the button!", "success");
    });
</script>



{% endblock %}

